<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Privacy Policy";
}
=======
﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> 567d2782d8a2e1f37bf90c92adc1d6bf2524237d
